<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @your_scaffold.title %>
</p>

<p>
  <b>Description:</b>
  <%= @your_scaffold.description %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag @your_scaffold.image_url(:thumb) %>
</p>


<%= link_to 'Edit', edit_your_scaffold_path(@your_scaffold) %> |
<%= link_to 'Back', your_scaffolds_path %>
